In [1]:
import pandas as pd

In [31]:
sheet = pd.read_excel('death-data.xlsx')

In [32]:
sheet

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,World Health Organization,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 189,Unnamed: 190,Unnamed: 191,Unnamed: 192,Unnamed: 193,Unnamed: 194,Unnamed: 195,Unnamed: 196,Unnamed: 197,Unnamed: 198
0,NaN,NaN,NaN,NaN,NaN,Organisation Mondiale de la Santé,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Department of,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,Measurement and Health Information,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,February 2009,NaN,"Table 1. Estimated total deaths ('000), by cau...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,NaN,W158,NaN,NaN,2.,Violence,NaN,0.813018,0.207716,3.10228,...,9.79012,17.6473,0.160774,0.921024,0.00246984,10.2947,3.16523,0.509976,2.58164,4.28359
142,NaN,W159,NaN,NaN,3.,War,NaN,1.57064,0.004036,1.01543,...,0.108218,0.9,0,0.039617,0,0,0.030427,0.5,0.003221,0.05
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,NaN,Refer to Notes sheet for notes on this table.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
sheet.drop(["Unnamed: 0", "Unnamed: 1"], axis = 1, inplace = True)

In [28]:
sheet.rename(columns = { 'Unnamed: 0':'del1', 'Unnamed: 1':'del2'},inplace = True)

In [37]:
sheet

,Unnamed: 2,Unnamed: 3,Unnamed: 4,World Health Organization,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 189,Unnamed: 190,Unnamed: 191,Unnamed: 192,Unnamed: 193,Unnamed: 194,Unnamed: 195,Unnamed: 196,Unnamed: 197,Unnamed: 198
0,NaN,NaN,NaN,Organisation Mondiale de la Santé,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Department of,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Measurement and Health Information,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,February 2009,NaN,"Table 1. Estimated total deaths ('000), by cau...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,NaN,NaN,2.,Violence,NaN,0.813018,0.207716,3.10228,0.000601794,6.22563,...,9.79012,17.6473,0.160774,0.921024,0.00246984,10.2947,3.16523,0.509976,2.58164,4.28359
142,NaN,NaN,3.,War,NaN,1.57064,0.004036,1.01543,0,0.275755,...,0.108218,0.9,0,0.039617,0,0,0.030427,0.5,0.003221,0.05
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
sheet.drop([0,1,2,3,4,8,9], axis = 0, inplace = True)

In [43]:
sheet

,Unnamed: 2,Unnamed: 3,Unnamed: 4,World Health Organization,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 189,Unnamed: 190,Unnamed: 191,Unnamed: 192,Unnamed: 193,Unnamed: 194,Unnamed: 195,Unnamed: 196,Unnamed: 197,Unnamed: 198
5,NaN,GBD cause (b),NaN,NaN,NaN,Afghanistan,Albania,Algeria,Andorra,Angola,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
6,NaN,NaN,NaN,NaN,WHO Country code,3010,4005,1010,4008,1020,...,1546,2450,2460,4335,5207,2470,3408,3420,1560,1570
7,NaN,Data sources - level of evidence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Population ('000) (e),NaN,NaN,NaN,24076.4,3134.4,32365.8,72.297,15635.5,...,37508,296844,3323.92,26208.8,209.918,26260.3,83839.5,20477.9,11269.8,13025.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,NaN,NaN,2.,Violence,NaN,0.813018,0.207716,3.10228,0.000601794,6.22563,...,9.79012,17.6473,0.160774,0.921024,0.00246984,10.2947,3.16523,0.509976,2.58164,4.28359
142,NaN,NaN,3.,War,NaN,1.57064,0.004036,1.01543,0,0.275755,...,0.108218,0.9,0,0.039617,0,0,0.030427,0.5,0.003221,0.05
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
sheet.columns = sheet.iloc[5]

In [46]:
sheet.drop(sheet.index[5])

12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,GBD cause (b),NaN,NaN,NaN,Afghanistan,Albania,Algeria,Andorra,Angola,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
6,NaN,NaN,NaN,NaN,WHO Country code,3010,4005,1010,4008,1020,...,1546,2450,2460,4335,5207,2470,3408,3420,1560,1570
7,NaN,Data sources - level of evidence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Population ('000) (e),NaN,NaN,NaN,24076.4,3134.4,32365.8,72.297,15635.5,...,37508,296844,3323.92,26208.8,209.918,26260.3,83839.5,20477.9,11269.8,13025.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,NaN,NaN,2.,Violence,NaN,0.813018,0.207716,3.10228,0.000601794,6.22563,...,9.79012,17.6473,0.160774,0.921024,0.00246984,10.2947,3.16523,0.509976,2.58164,4.28359
142,NaN,NaN,3.,War,NaN,1.57064,0.004036,1.01543,0,0.275755,...,0.108218,0.9,0,0.039617,0,0,0.030427,0.5,0.003221,0.05
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
sheet.drop([12], axis = 0, inplace = True)

In [48]:
sheet

12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,GBD cause (b),NaN,NaN,NaN,Afghanistan,Albania,Algeria,Andorra,Angola,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
6,NaN,NaN,NaN,NaN,WHO Country code,3010,4005,1010,4008,1020,...,1546,2450,2460,4335,5207,2470,3408,3420,1560,1570
7,NaN,Data sources - level of evidence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Population ('000) (e),NaN,NaN,NaN,24076.4,3134.4,32365.8,72.297,15635.5,...,37508,296844,3323.92,26208.8,209.918,26260.3,83839.5,20477.9,11269.8,13025.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,NaN,NaN,2.,Violence,NaN,0.813018,0.207716,3.10228,0.000601794,6.22563,...,9.79012,17.6473,0.160774,0.921024,0.00246984,10.2947,3.16523,0.509976,2.58164,4.28359
142,NaN,NaN,3.,War,NaN,1.57064,0.004036,1.01543,0,0.275755,...,0.108218,0.9,0,0.039617,0,0,0.030427,0.5,0.003221,0.05
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN